body {
  background-image: url(../pics/mariage-en-blanc.jpg);
  background-size: cover;
}
#card-container {
  width: 450px;
  height: 600px;
  position: relative;
  background-image: url(../pics/mariagecardbackground.jpg);
  background-size: cover;
  margin-top: 20px;
  margin-left: 80px;
  box-shadow: 8px 8px 8px 8px #888888;
}
button {
  background-color: rgb(243, 220, 191);
  width: 300px;
  height: 50px;
  position: relative;
  margin-top: 10px;
  margin-left: 155px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "sofia", sans-serif;
  box-shadow: cadetblue;
  border: none;
}
button:active {
  font-size: 21px;
}
#text {
  position: relative;
  width: 240px;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  font-family: "sofia", sans-serif;
  padding-top: 150px;
  margin-left: 143px;
  text-align: center;
}
#h-name {
  position: relative;
  margin-top: 60px;
  margin-left: 120px;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Fleur De Leah', cursive;
}
#and {
  position: relative;
  margin-left: 220px;
  font-size: 30px;
  font-family: 'Fleur De Leah', cursive;
  font-weight: bold;
}
#w-name {
  position: relative;
  margin-left: 120px;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Fleur De Leah', cursive;
}
#m-adress {
  position: relative;
  margin-left: 100px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "sofia", sans-serif;
}
#m-date {
  position: relative;
  margin-left: 150px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "sofia", sans-serif;
}
