body {
  background-image: url(/pics/istockphoto-1069137774-170667a.jpg);
  background-size: cover;
}
#all {
  display: flex;
  position: absolute;
  width: 600px;
  height: 670px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#inputs-container {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
}
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgb(230, 78, 78);
}
.input-text {
  width: 600px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  opacity: 0.7;
  border: none;
}
label {
  font-family: "sofia", sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: rgb(134, 1, 1);
}
button {
  background-color: rgb(243, 220, 191);
  width: 300px;
  height: 50px;
  position: relative;
  margin-top: 50px;
  margin-left: 155px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "sofia", sans-serif;
  box-shadow: cadetblue;
  border: none;
  cursor: pointer;
}
a {
  color: black;
  font-size: x-large;
  font-family: "sofia", sans-serif;
}
